@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

body {
  font-family: var(--font-body);
}

.subheading {
  font-family: var(--font-subheading);
  font-weight: 800;
}

.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.writing-vertical {
  writing-mode: vertical-lr;
}

@layer base {
  :root {
    --font-heading: var(--font-heading), Impact, sans-serif;
    --font-subheading: var(--font-subheading), Impact, sans-serif;
    --font-body: var(--font-body), "Arial Black", "Helvetica Black",
      "Franklin Gothic Medium", "Futura", -apple-system, BlinkMacSystemFont,
      sans-serif;
    --font-code: var(--font-code), "Consolas", "Monaco", "Lucida Console",
      monospace;

    --background: 40 20% 95%;
    --foreground: 0 0% 9%;

    --primary: 0 0% 9%;
    --primary-foreground: 0 0% 98%;

    --secondary: 0 0% 96%;
    --secondary-foreground: 0 0% 9%;

    --border: 0 0% 89%;
    --input: 0 0% 89%;
    --ring: 0 0% 89%;

    --radius: 0.5rem;

    --cursor-url: auto;
  }

  .dark {
    --background: 240 10% 3.9%;
    --foreground: 0 0% 98%;

    --primary: 0 0% 98%;
    --primary-foreground: 0 0% 98%;
    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;

    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --ring: 240 4.9% 83.9%;

    --cursor-url: auto;
  }

  ::-webkit-scrollbar {
    width: 0.5rem;
    height: 0.5rem;
  }

  ::-webkit-scrollbar-track {
    background: hsl(var(--border));
  }

  ::-webkit-scrollbar-thumb {
    background-color: hsl(var(--foreground));
    border-radius: 0.25rem;
    border: 1px solid transparent;
    background-clip: content-box;
  }

  ::-webkit-scrollbar-thumb:hover {
    background-color: hsl(var(--foreground));
    outline: 1px solid hsl(var(--border));
  }

  * {
    scrollbar-color: hsl(var(--foreground)) hsl(var(--border));
    scrollbar-width: thin;
  }

  input,
  textarea {
    caret-color: hsl(var(--foreground));
  }

  ::selection {
    background: hsl(var(--foreground));
    color: hsl(var(--background));
  }

  body {
    cursor: var(--cursor-url);
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
}
